@import './variables';

@keyframes showDialog {
	from {
		transform: translateY(-20px) scale(.8);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.right {
	float: right;
}
.left {
	float: left;
}
.text_rt {
	text-align: right;
}
.clear::before {
	content: '';
	display: block;
	overflow: hidden;
	clear: both;
}
.module_bg {
	background-color: $moduleBGC;
	transition: all .3s ease-in-out;
	&:hover {
		box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	}
}
.ws_btn {
	display: inline-block;
	height: $formElHeight;
	line-height: $formElHeight;
	border: 1px solid $borderColor;
	padding: 0 10px;
	transition: all ease-in-out .3s;
	border-radius: 3px;
	cursor: pointer;
	&:hover {
		border-color: $hoverColor;
		color: $hoverColor;
	}
}
.ws_pagination {
	margin: 20px 0;
}
